body {
	background-color: purple;
}

.container {
	background-color: white;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

.inline{
	display: inline-block;
	top: 10px;
}

.main-sidebar ul {
	list-style-type: none;
}

.main-sidebar ul li {
	color: lime;
}

.main-content {
}

.main-content h1{
	color: lime;
}

.main-content h4 {
	color: lime;
}

.main-content p {
	background-color: lime;
	color: white;
}
